<header x-data="{ mobilenavOpen: false }" class="md:flex items-center justify-between [&>*]:px-8 bg-white h-20 text-gray-800 sticky top-0 z-40 border-b border-gray-200 shadow-sm">
    <div class="flex items-center justify-between h-20">
        <logo>
            <a class="flex items-center gap-1" href="/">
                
                <span class="text-lg font-bold text-indigo-500">Fantastic</span>
            </a>
        </logo>
        <mobileicon class="md:hidden">
            <a @click="mobilenavOpen = !mobilenavOpen" class="h-12 w-12 flex items-center justify-center cursor-pointer hover:bg-gray-100 rounded-lg">
                <img x-show="!mobilenavOpen" class="w-6 h-6 select-none" src="https://img.icons8.com/small/64/6366f1/menu.png"/> 
                <img x-show="mobilenavOpen" x-cloak class="w-6 h-6 select-none" src="https://img.icons8.com/small/64/6366f1/delete-sign.png"/>
            </a>
        </mobileicon>
    </div>
    <nav x-show="mobilenavOpen" x-cloak class="md:!block bg-white h-screen w-screen md:h-auto md:w-auto -mt-20 md:mt-0 absolute md:relative z-[-1] shadow-lg md:shadow-none"
    x-transition:enter="duration-300 ease-out"
    x-transition:enter-start="opacity-0 -translate-y-96"
    x-transition:enter-end="opacity-100 translate-y-0">
        <ul class="flex items-center navitems flex-col md:flex-row gap-8 md:gap-6 justify-center h-full -translate-y-10 md:translate-y-0 py-8 md:py-0">
            <li><a href="/" class="text-gray-700 hover:text-indigo-500">Home</a></li>
            <li><a href="{% url 'post-create' %}" class="text-gray-700 hover:text-indigo-500">Create Post</a></li>
            <li x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer select-none flex items-center gap-2">
                    <img class="h-8 w-8 rounded-full object-cover border-2 border-indigo-300" src="https://pbs.twimg.com/profile_images/508601156767997952/fFTdKUf2_400x400.jpeg"/>
                    <span class="text-gray-700">Bart</span>
                    <img x-bind:class="dropdownOpen && 'rotate-180 duration-300'" class="w-3 transition-transform" src="https://img.icons8.com/small/32/6366f1/expand-arrow.png"/>
                </a>
                <div x-show="dropdownOpen" x-cloak class="absolute right-0 bg-white text-gray-700 shadow-lg rounded-lg w-48 p-2 z-20 border border-gray-100"
                x-transition:enter="duration-300 ease-out"
                x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                x-transition:enter-end="opacity-100 translate-y-0 scale-100">
                    <ul class="hoverlist [&>li>a]:justify-start [&>li>a]:px-3 [&>li>a]:py-2">
                        <li><a href="" class="text-gray-700 hover:text-indigo-500">My Profile</a></li>
                        <li><a href="" class="text-gray-700 hover:text-indigo-500">Edit Profile</a></li>
                        <li><a href="" class="text-rose-500 hover:text-rose-600">Log Out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>