

<aside x-show="mobileSidebarOpen" x-cloak class="md:!block col-span-full md:col-span-1 lg:mr-[20%] order-1 md:order-2"
x-transition:enter="duration-300 ease-out"
x-transition:enter-start="opacity-0 -mt-96"
x-transition:enter-end="opacity-100 mt-0">
    <section class="card p-4">
        <h2 class="text-lg font-semibold text-gray-800 mb-3">Categories</h2>
        <ul class="hoverlist">
            <li class="highlight">
                <a href="" class="text-gray-700">
                    <img class="w-8 h-8 object-cover mr-2" src="https://img.icons8.com/small/96/6366f1/landscape.png">
                    <span class="font-medium text-sm">Landscape</span>
                </a>
            </li>
            <li>
                <a href="" class="text-gray-700">
                    <img class="w-8 h-8 object-cover mr-2" src="https://img.icons8.com/small/96/6366f1/portrait.png">
                    <span class="font-medium text-sm">People</span>
                </a>
            </li>
            <li>
                <a href="" class="text-gray-700">
                    <img class="w-8 h-8 object-cover mr-2" src="https://img.icons8.com/small/96/6366f1/dog.png">
                    <span class="font-medium text-sm">Animals</span>
                </a>
            </li>
            <li>
                <a href="" class="text-gray-700">
                    <img class="w-8 h-8 object-cover mr-2" src="https://img.icons8.com/small/96/6366f1/180-degrees.png">
                    <span class="font-medium text-sm">Black & White</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="card p-4">
        <div class="flex items-center mb-3">
            <img class="w-6 mr-2" src="https://img.icons8.com/ios-glyphs/90/6366f1/fire-heart.png"/>
            <h2 class="text-lg font-semibold text-gray-800">Top Posts</h2>
        </div>
        <ul class="hoverlist">
            <li>
                <a href="" class="text-gray-700 flex items-stretch justify-between">
                    <div class="flex items-center truncate">
                        <img class="w-10 h-10 rounded-lg object-cover mr-3 shrink-0" src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg">
                        <img class="w-6 h-6 rounded-full object-cover mr-1 border border-gray-200" src="https://img.icons8.com/small/96/6366f1/happy.png">
                        <span class="font-medium text-sm mr-1">Homer</span>
                    </div>
                    <span class="text-xs font-light text-gray-500 shrink-0">3 Likes</span>
                </a>
            </li>
            <li>
                <a href="" class="text-gray-700 flex items-stretch justify-between">
                    <div class="flex items-center truncate">
                        <img class="w-10 h-10 rounded-lg object-cover mr-3 shrink-0" src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg">
                        <img class="w-6 h-6 rounded-full object-cover mr-1 border border-gray-200" src="https://img.icons8.com/small/96/6366f1/happy.png">
                        <span class="font-medium text-sm mr-1">Homer</span>
                    </div>
                    <span class="text-xs font-light text-gray-500 shrink-0">3 Likes</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="card p-4">
        <div class="flex items-center mb-3">
            <img class="w-6 mr-2" src="https://img.icons8.com/ios-glyphs/90/6366f1/fire-heart.png"/>
            <h2 class="text-lg font-semibold text-gray-800">Top Comments</h2>
        </div>
        <ul class="hoverlist">
            <li>
                <a href="" class="text-gray-700 flex items-stretch justify-between">
                    <div class="flex items-center truncate">
                        <img class="w-6 h-6 rounded-full object-cover mr-1 border border-gray-200" src="https://img.icons8.com/small/96/6366f1/happy.png">
                        <span class="font-medium text-sm mr-1 truncate">Homer: Nice photo!</span>
                    </div>
                    <span class="text-xs font-light text-gray-500 shrink-0">3 Likes</span>
                </a>
            </li>
            <li>
                <a href="" class="text-gray-700 flex items-stretch justify-between">
                    <div class="flex items-center truncate">
                        <img class="w-6 h-6 rounded-full object-cover mr-1 border border-gray-200" src="https://img.icons8.com/small/96/6366f1/happy.png">
                        <span class="font-medium text-sm mr-1 truncate">Homer: Great shot!</span>
                    </div>
                    <span class="text-xs font-light text-gray-500 shrink-0">3 Likes</span>
                </a>
            </li>
        </ul>
    </section>
</aside>